html,body{
    margin: 0;
}

.container {
    display: grid;
    background-color: black;
    height: 100vh;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
}

.help {
    display: grid;
    grid-row: span 3;
    background-color: red;
}