html,body{
    margin: 0;
    background-color: black;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
}

.help {
    display: grid;
    grid-row: span 3;
    /* background-color: red; */
}