@import url("../Styles/App.css");

textarea {
    resize: none;
    overflow: hidden; 
}


.prompt {
    color: white;
    font-size: 18px;
    font-weight:500;
}

.passage {
    color: violet;
    font-size: 18px;
    font-weight:500;
}

.main-container {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 10fr 100px;
}

.text-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.eye-container {
    position: relative;
    width: 100%;
    text-align: center;
}

/* Inspired by Online Projects */
.eye-container p {
    position: relative;
    color: #FFEB0B;
    font-weight: 600;
    font-size: 11em;
    -webkit-box-reflect: below 1px;
    text-shadow: 0 0 10px #ff8c3b,
                0 0 40px #ff8c3b,
                0 0 80px #ff8c3b,
                0 0 160px #ff8c3b,
                0 0 240px #ff8c3b;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* background-color: lightblue; */
}


.summary-page {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 10fr 100px;
}

.summary-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.summary-text {
    color: darkgreen;
}