@import url("../Styles/App.css");

textarea {
    resize: none;
    overflow: hidden; 
}


.prompt {
    color: white;
    font-size: 18px;
    font-weight:500;
}

.passage {
    color: violet;
    font-size: 18px;
    font-weight:500;
}

.main-container {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 10fr 100px;
}

.text-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.eye-container {
    /* background-color: rebeccapurple; */
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* background-color: lightblue; */
}


.summary-page {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 10fr 100px;
}

.summary-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.summary-text {
    color: darkgreen;
}