
@keyframes changeColor {
    0% {background-color: violet;}
    10% {background-color: green;}
    20% {background-color: red;}
    30% {background-color: white;}
    40% {background-color: purple;}
    50% {background-color: yellow;}
    60% {background-color: lightcoral;}
    70% {background-color: pink;}
    80% {background-color: blue;}
    90% {background-color: indigo;}
    100% {background-color: #ffeb3b;}
}


.container {
    grid-column: span 1;
    grid-row:span 3;
}

.particle {
    margin-left: 10px;
    height: 2rem;
    width: 2rem;
    background-color: #ffeb3b;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 10px #ff8c3b,
                0 0 40px #ff8c3b,
                0 0 80px #ff8c3b,
                0 0 160px #ff8c3b,
                0 0 240px #ff8c3b;
    position: relative;
    animation: changeColor 5s infinite;
}





